.component-container {

  border: solid 3px green;
  position: absolute;
  //If we use fixed positions:
  bottom: 30px;
  top: 368px;
  right: 106px;
  left: 65px;

  //We don't need the width and height
  //width: 75%;
  //height: 75%;

}
:host ::ng-deep
.pager-style{
  .ng2-smart-pagination{
    display: block;
  }
  li{
    background: brown;
    margin: 2px;
    border: 5px solid yellow;
    color: white;
  }
}
.pager-style2{
  .ng2-smart-pagination{
    display: block;
  }
  li{
    background: blue;
    margin: 2px;
    border: 5px solid yellow;
    color: white;
  }
}
