<header-component tagline="Multiple-Items-Demo"></header-component>


<p>The container of the table is absolute. <b>See the css class "component-container".</b> <br/>

  I think this the way we should work. Assign the container a fixed (LTRB) positions, and the table will stretch inside.
  We can do another positions for responsive view.

</p>

<p></p>
<div class = "component-container">
  <ng2-smart-table [settings]="tableSettings" [source]="tableData" [debug]="true"></ng2-smart-table>


</div>
