.component-container {

  border: solid 3px green;
  position: absolute;
  //If we use fixed positions:
  bottom: 30px;
  top: 368px;
  right: 106px;
  left: 65px;

  //We don't need the width and height
  //width: 75%;
  //height: 75%;

}
